html,
body {
    background-color: gray;
    font-size: 15px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor:default;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif
}
h1.subheader,
h2.subheader,
h3.subheader,
h4.subheader,
h5.subheader,
h6.subheader {
    font-weight: 300
}
h1.title-header,
h2.title-header {
    margin-top: 0px;
    margin-bottom: 10px
}
.content.container {
    padding-top: 50px
}
.content.container .slim {
    max-width: 1108px;
    padding: 0 20px;
    margin: 0 auto
}
.centered {
    text-align: center
}
.feature-list,
.download-list {
    font-size: 17px
}
.feature-list .icon,
.download-list .icon {
    margin-right: 5px !important
}
.ui.label.bower {
    text-transform: none
}
a.ui.icon.header {
    text-decoration: none;
    color: black
}
a.ui.icon.header:hover {
    color: blue
}
.section-description {
    min-height: 40px
}
.divider .icon.huge {
    font-size: 2em
}
.footer .text {
    text-align: center
}
canvas#homepage-globe-canvas {
    width: 350px;
    height: 350px;
    cursor: move
}
@media screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none !important
    }
    .ui.grid>.wide.column {
        width: auto !important;
        min-width: 100%
    }
}
.column h1:first-child {
    padding-top: 0;
    margin-top: 0
}
@media screen and (min-width: 769px) {
    .hide-on-non-mobile {
        display: none !important
    }
    .main-menu .items {
        max-width: 900px
    }
}
@media screen and (min-width: 1050px) {
    .main-menu {
        padding-left: 8%
    }
}
.spacer {
    display: inline-block;
    width: 50px
}
.ui.large.menu .item.minor {
    font-size: 14px
}
.homepage-globe-canvas {
    text-align: right
}
@media screen and (max-width: 998px) {
    .homepage-globe-canvas {
        text-align: center
    }
}
.ui.dark.blue.label {
    background-color: #000080 !important;
    margin-top: 5px
}
.ui.dark.blue.label:before {
    background-color: #000080 !important
}
.no-underline {
    text-decoration: none
}
.example-segment .horizontal.label {
    margin-top: 5px
}
.example-segment img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px
}
@media screen and (max-width: 768px) {
    .example-segment img {
        display: block;
        float: none
    }
}
.ui.menu .item.contains-subitems {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0
}
.ui.menu .item.contains-subitems:before {
    width: 0;
    height: 0
}
pre {
    font-size: 14px;
    overflow-x: auto
}
.ui.items.examples a.item {
    text-decoration: none
}

canvas {
  position: relative;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#controls {
  position: absolute;
  width: 400px;
  bottom: 20px;
  left: 50%;
  bottom: 0;
  margin-left: -200px;
  text-align: center;
}

input[type=range] {
  width: 200px;
}

.leftpane {
  position: absolute;
  color: white;
  width: 75%;
  top: 45px;
  bottom: 0;
  left: 0;
}

.rightpane {
  position: absolute;
  color: white;
  width: 25%;
  max-height: 100%;
  top: 45px;
  bottom: 0;
  right: 0;
  background: #333;
  overflow: hidden;
}

.rightpane:hover {
     overflow-y: scroll;
}

.rightpane ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.rightpane ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    clear: both;
}

.rightpane ul li:hover {
    background-color: #5c5c5c;
}

.tweet {
  font-size: 14px;
}

.tweet div {
    margin: 0;
    padding: 0;
}

.tweet .avatar {
    width: 15%;
    float: left;

}

.tweet .content {
    float: left;
    width: 80%;
}

.tweet .content span {
    color: #ccc;
}








#details {
  position: absolute;
  bottom: 3%;
  right: 2%;
}

#details p {
  margin-bottom: 5px;
}

#details span, ul {
  padding-left: 20px;
}

#details em {
  color: #c1c1c1;
  font-size: 15px;
  font-style: normal;
}

#details ul {
  list-style: none;
  margin: 0px;
}




#options {
    position: absolute;
    bottom: 3%;
    left: 2%;
    pointer-events: none;
}





.bar--positive {
  fill: steelblue;
}

.bar--negative {
  fill: darkorange;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}







#intervalpicker-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    color: white;
    width: 75%;
    align-items: center;
    justify-content: center;
    height: 100%;
    pointer-events: none;
}

#intervalpicker-wrap.invisible {
    display: none;
}

#intervalpicker {
    text-align: left;
    background-color: rgba(0, 0, 5, 0.6);
    border-radius: 0.5rem/0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    pointer-events: all;
}






#options #earth {
    background-color: rgba(0, 0, 5, 0.6);
    border-radius: 0.5rem/0.5rem;
    display: table;
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
    font-size: 25px;
    pointer-events: all;
}

#options  #menu {
    background-color: rgba(0, 0, 5, 0.6);
    border-radius: 0.5rem/0.5rem;
    overflow: hidden;
    pointer-events: all;

    margin-top: 1rem;
    font-size: 17px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    opacity: 1;
    max-height: 34rem;
    transition: opacity 250ms ease, max-height 250ms ease, margin-top 250ms ease;
    -webkit-transition: opacity 250ms ease, max-height 250ms ease, margin-top 250ms ease;
}

#options #menu.invisible, .invisible {
    display: none;
    margin-top: 0;
    padding: 0 1rem 0 1rem;
    opacity: 0;
    max-height: 0;
    transition: opacity 250ms ease, max-height 250ms ease, margin-top 250ms ease;
    -webkit-transition: opacity 250ms ease, max-height 250ms ease, margin-top 250ms ease;
}

#options .text-button {
    color: #888888;
}

#options #menu .text-button:hover, #options #menu .active {
    color: #fff;
}

#options #menu .text-button.disabled {
    color: #444444;
}











/*
 * Navigation
 */

.ui.menu {
    margin: 1rem 0rem;
    background-color: #FFF;
    font-size: 0;
    font-weight: 400;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    border-radius: .1875rem
}
.ui.menu:first-child {
    margin-top: 0rem
}
.ui.menu:last-child {
    margin-bottom: 0rem
}
.ui.menu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.ui.menu>.item:first-child {
    border-radius: .1875em 0 0 .1875em
}
.ui.menu>.item:last-child {
    border-radius: 0 .1875em .1875em 0
}
.ui.menu .item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    vertical-align: middle;
    line-height: 1;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity .2s ease, background .2s ease, -webkit-box-shadow .2s ease;
    transition: opacity .2s ease, background .2s ease, box-shadow .2s ease
}
.ui.menu .item,
.ui.menu .item>a {
    color: rgba(0, 0, 0, .75)
}
.ui.menu .item .item,
.ui.menu .item .item>a {
    color: rgba(30, 30, 30, .7)
}
.ui.menu .item .item .item,
.ui.menu .item .item .item>a {
    color: rgba(30, 30, 30, .6)
}
.ui.menu .dropdown.item .menu .item,
.ui.menu .dropdown.item .menu .item a {
    color: rgba(0, 0, 0, .75)
}
.ui.menu .item .menu a.item:hover,
.ui.menu .item .menu a.item.hover,
.ui.menu .item .menu .link.item:hover,
.ui.menu .item .menu .link.item.hover {
    color: rgba(0, 0, 0, .85)
}
.ui.menu .dropdown.item .menu .item a:hover {
    color: rgba(0, 0, 0, .85)
}
.ui.menu .active.item,
.ui.menu .active.item a {
    color: rgba(0, 0, 0, .85);
    border-radius: 0
}
.ui.menu .item {
    position: relative;
    display: inline-block;
    padding: .83em .95em;
    border-top: 0 solid rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.ui.menu .menu {
    margin: 0
}
.ui.menu .item.left,
.ui.menu .menu.left {
    float: left
}
.ui.menu .item.right,
.ui.menu .menu.right {
    float: right
}
.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .05)), color-stop(50%, rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .05)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .05) 100%);
    background-image: linear-gradient(rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .05) 100%)
}
.ui.menu .menu.right .item:before,
.ui.menu .item.right:before {
    right: auto;
    left: 0
}

.ui.text.menu .item.hover,
.ui.text.menu .item:hover {
    opacity: 1;
    background-color: transparent
}
.ui.text.menu .active.item {
    background-color: transparent;
    padding: 0;
    border: 0;
    opacity: 1;
    font-weight: 700;
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui.icon.menu,
.ui.vertical.icon.menu {
    width: auto;
    display: inline-block;
    height: auto
}
.ui.icon.menu>.item {
    height: auto;
    text-align: center;
    color: rgba(60, 60, 60, .7)
}
.ui.icon.menu>.item>.icon {
    display: block;
    float: none!important;
    opacity: 1;
    margin: 0 auto!important
}
.ui.icon.menu .icon:before {
    opacity: 1
}
.ui.menu .icon.item .icon {
    margin: 0
}
.ui.vertical.icon.menu {
    float: none
}
.ui.inverted.icon.menu .item {
    color: rgba(255, 255, 255, .8)
}
.ui.inverted.icon.menu .icon {
    color: #fff
}
.ui.labeled.icon.menu {
    text-align: center
}
.ui.labeled.icon.menu>.item>.icon {
    display: block;
    font-size: 1.5em!important;
    margin: 0 auto .3em!important
}
.ui.menu .green.active.item,
.ui.green.menu .active.item {
    border-color: #A1CF64!important;
    color: #A1CF64!important
}
.ui.menu .red.active.item,
.ui.red.menu .active.item {
    border-color: #D95C5C!important;
    color: #D95C5C!important
}
.ui.menu .blue.active.item,
.ui.blue.menu .active.item {
    border-color: #6ECFF5!important;
    color: #6ECFF5!important
}
.ui.menu .purple.active.item,
.ui.purple.menu .active.item {
    border-color: #564F8A!important;
    color: #564F8A!important
}
.ui.menu .orange.active.item,
.ui.orange.menu .active.item {
    border-color: #F05940!important;
    color: #F05940!important
}
.ui.menu .teal.active.item,
.ui.teal.menu .active.item {
    border-color: #00B5AD!important;
    color: #00B5AD!important
}
.ui.inverted.menu {
    background-color: #333;
    -webkit-box-shadow: none;
    box-shadow: none
}
.ui.inverted.menu .header.item {
    margin: 0;
    background-color: rgba(0, 0, 0, .3);
    -webkit-box-shadow: none;
    box-shadow: none
}
.ui.inverted.menu .item,
.ui.inverted.menu .item>a {
    color: #FFF
}
.ui.inverted.menu .item .item,
.ui.inverted.menu .item .item>a {
    color: rgba(255, 255, 255, .8)
}
.ui.inverted.menu .dropdown.item .menu .item,
.ui.inverted.menu .dropdown.item .menu .item a {
    color: rgba(0, 0, 0, .75)!important
}
.ui.inverted.menu .item.disabled,
.ui.inverted.menu .item.disabled:hover,
.ui.inverted.menu .item.disabled.hover {
    color: rgba(255, 255, 255, .2)
}
.ui.inverted.menu .item:before {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .03) 0, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .03) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .03)), color-stop(50%, rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .03)));
    background-image: linear-gradient(rgba(255, 255, 255, .03) 0, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .03) 100%)
}
.ui.vertical.inverted.menu .item:before {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, .03) 0, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .03) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .03)), color-stop(50%, rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .03)));
    background-image: linear-gradient(left, rgba(255, 255, 255, .03) 0, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .03) 100%)
}
.ui.link.inverted.menu .item:hover,
.ui.inverted.menu .item.hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover,
.ui.inverted.menu .dropdown.item.hover,
.ui.inverted.menu .dropdown.item:hover {
    background-color: rgba(255, 255, 255, .1)
}
.ui.inverted.menu a.item:hover,
.ui.inverted.menu .item.hover,
.ui.inverted.menu .item>a:hover,
.ui.inverted.menu .item .menu a.item:hover,
.ui.inverted.menu .item .menu a.item.hover,
.ui.inverted.menu .item .menu .link.item:hover,
.ui.inverted.menu .item .menu .link.item.hover {
    color: #fff
}
.ui.inverted.menu a.item:active,
.ui.inverted.menu .dropdown.item:active,
.ui.inverted.menu .link.item:active,
.ui.inverted.menu a.item:active {
    background-color: rgba(255, 255, 255, .15)
}
.ui.inverted.menu .active.item {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    background-color: rgba(255, 255, 255, .2)
}
.ui.inverted.menu .active.item,
.ui.inverted.menu .active.item a {
    color: #fff!important
}
.ui.inverted.vertical.menu .item .menu .active.item {
    background-color: rgba(255, 255, 255, .2);
    color: #fff
}
.ui.inverted.pointing.menu .active.item:after {
    background-color: #5B5B5B;
    -webkit-box-shadow: none;
    box-shadow: none
}


.ui.fitted.menu .item,
.ui.fitted.menu .item .menu .item,
.ui.menu .fitted.item {
    padding: 0
}
.ui.horizontally.fitted.menu .item,
.ui.horizontally.fitted.menu .item .menu .item,
.ui.menu .horizontally.fitted.item {
    padding-top: .83em;
    padding-bottom: .83em
}
.ui.vertically.fitted.menu .item,
.ui.vertically.fitted.menu .item .menu .item,
.ui.menu .vertically.fitted.item {
    padding-left: .95em;
    padding-right: .95em
}
.ui.borderless.menu .item:before,
.ui.borderless.menu .item .menu .item:before,
.ui.menu .borderless.item:before {
    background-image: none
}
.ui.compact.menu {
    display: inline-block;
    margin: 0;
    vertical-align: middle
}
.ui.compact.vertical.menu {
    width: auto!important
}
.ui.compact.vertical.menu .item:last-child::before {
    display: block
}
.ui.menu.fluid,
.ui.vertical.menu.fluid {
    display: block;
    width: 100%!important
}
.ui.item.menu,
.ui.item.menu .item {
    width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
    text-align: center
}
.ui.menu.two.item .item {
    width: 50%
}
.ui.menu.three.item .item {
    width: 33.333%
}
.ui.menu.four.item .item {
    width: 25%
}
.ui.menu.five.item .item {
    width: 20%
}
.ui.menu.six.item .item {
    width: 16.666%
}
.ui.menu.seven.item .item {
    width: 14.285%
}
.ui.menu.eight.item .item {
    width: 12.5%
}
.ui.menu.nine.item .item {
    width: 11.11%
}
.ui.menu.ten.item .item {
    width: 10%
}
.ui.menu.eleven.item .item {
    width: 9.09%
}
.ui.menu.twelve.item .item {
    width: 8.333%
}
.ui.menu.fixed {
    position: absolute;
    z-index: 10;
    margin: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 45px;
}
.ui.menu.fixed,
.ui.menu.fixed .item:first-child,
.ui.menu.fixed .item:last-child {
    border-radius: 0!important
}
.ui.menu.fixed.top {
    top: 0;
    left: 0;
    right: auto;
    bottom: auto
}
.ui.menu.fixed.right {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    width: auto;
    height: 100%
}
.ui.menu.fixed.bottom {
    bottom: 0;
    left: 0;
    top: auto;
    right: auto
}
.ui.menu.fixed.left {
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: auto;
    height: 100%
}

.ui.small.menu .item {
    font-size: .875rem
}
.ui.small.menu:not(.vertical) .item>.input input {
    padding-top: .4em;
    padding-bottom: .4em
}
.ui.small.vertical.menu {
    width: 13rem
}
.ui.menu .item {
    font-size: 1rem
}
.ui.vertical.menu {
    width: 15rem
}
.ui.large.menu .item {
    font-size: 1.125rem
}
.ui.large.menu .item .item {
    font-size: .875rem
}
.ui.large.menu:not(.vertical) .item>.input input {
    top: -.125em;
    padding-bottom: .6em;
    padding-top: .6em
}
.ui.large.menu .dropdown.item .item {
    font-size: 1rem
}
.ui.large.vertical.menu {
    width: 18rem
}
